/**
 * admin.css
 **/

/**********************************************************************************************************************
 * FORMS                                                                                                              *
 **********************************************************************************************************************/
.grid-font-consolas {
    background: #EAEDED;
	font-family: consolas;
	font-size: 14px;
}

.form-admin-index-title {
    text-align: center;
}

.form-admin-index-field-block {
    text-align: center;
}

.form-admin-index-field-confirm {
    text-align: center;
}

.form-admin-index-field-created_at {
    white-space: nowrap !important;
}

.form-admin-index-field-last_login_at {
    white-space: nowrap !important;
}

.form-admin-index-field-registration_ip {
    white-space: nowrap !important;
}
